@font-face {
  font-family: "Script1"; /* Name of the font */
  src: url("../public/fonts/Quetine.woff2") format("woff2"),
    /* Adjust the path as necessary */ url("../public/fonts/Quetine.woff")
      format("woff");
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

@font-face {
  font-family: "Script2"; /* Name of the font */
  src: url("../public/fonts/FloresttaOpheralio.woff2") format("woff2"),
    /* Adjust the path as necessary */
      url("../public/fonts/FloresttaOpheralio.woff") format("woff");
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

@font-face {
  font-family: "Script3"; /* Name of the font */
  src: url("../public/fonts/Forghive.woff2") format("woff2"),
    /* Adjust the path as necessary */ url("../public/fonts/Forghive.woff")
      format("woff");
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 20px solid;
  border-image: url("/public/Asset 2.svg");
  min-height: 90vh;
  background-color: beige !important;
  align-items: center;
  justify-content: center;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: rgb(245, 245, 220);
  padding: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  color: #25287d !important;
}

h1 {
  font-family: "Monsieur La Doulaise", serif;
  font-size: 4rem !important;
}

h2 {
  font-family: "Monsieur La Doulaise", serif;
  font-size: 2.5rem !important;
}

h3,
h4,
h5,
h6 {
  font-family: "Georgia";
}

p {
  font-family: "Georgia";
  margin-bottom: 0px !important;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100%;
}

.paper-background {
  background-image: url("/public/white-paper-texture.jpg");
  background-size: 50%; /* Makes image cover the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image from repeating */
  height: 100%;
}

.paper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-content-box {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.home-image {
  width: 75%;
  margin: 30px;
  padding-top: 60px;
}

.text-small {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  /* Tablet styles */
  body {
    padding: 1rem;
    border-width: 30px;
  }

  h1 {
    font-size: 50px !important;
  }

  .paper-background {
    background-size: 75%;
    height: 70vh;
  }

  .home-image {
    width: 90%;
    margin: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  /* Mobile phone styles */
  body {
    padding: 0.5rem;
    border-width: 30px;
  }

  h1 {
    font-size: 40px !important;
  }

  .paper-background {
    background-size: 100%;
    height: 20vh;
  }

  .home-image {
    width: 140%;
    margin: 30px;
    padding-top: 30px;
  }

  html {
    padding: 1rem;
  }

  .paper-content-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .paper-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .paper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
}
